.bg-color {
    background-color: #9EF1D3;
}

#hero_img {
    height: 600px;
    width: 100%;
}

.rounded-start {
    max-height: 100%;
}

img {
    min-height: 250px!important;
}

.footer {
    height: 75px !important;
}